@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&family=Source+Sans+Pro:ital,wght@0,400;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(193, 193, 218, 0.178);
}

:root {
  --nav-background: rgb(56, 55, 55);
  --nav-btn-color: gray;

  --text-color-1: black;
  --text-color-2: rgb(202, 202, 202);
  --text-color-hover: rgb(248, 247, 247);

  --page-transition: all 0.2s linear;
}

.container {
  /* border: 1px solid red; */
  position: relative;
  overflow: hidden;
}

.nav {
  /* border: 1px solid red; */
  height: 4rem;
  background: var(--nav-background);
  /* box-shadow: 10px 10px 10px black; */
  /* z-index: 4; */
}

.sidebar {
  height: calc(100vh - 4.1rem);
  /* border: 1px solid blue; */
  background: var(--nav-background);
  transform: translateX(100%);
  max-width: 100%;
  visibility: hidden;
  padding: 1.5rem 0;
  margin-left: auto;
  transition: var(--page-transition);
  /* z-index: 1; */
  /* position: absolute; */
  display: none;
}

.show-sidebar {
  transform: translateX(0);

  visibility: visible;
  /* transition: var(--page-transition); */
  display: block;
}

.sidebar .cart-amount {
  padding-left: 1rem;
  position: fixed;
}

.sidebar .cart-amount button {
  cursor: pointer;
  font-size: 1.5rem;
  border: none;
  background: none;
  /* border: 1px solid red; */
}

.sidebar .cart-amount button a {
  color: var(--text-color-2);
}

.sidebar .cart-amount p {
  position: absolute;
  top: -50%;
  left: 85%;
  font-size: 1.34rem;
  color: rgb(253, 249, 249);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.sidebar .nav-links {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.sidebar .nav-links a {
  color: var(--text-color-2);
  margin: 1rem 0 0 1rem;
  font-size: 1.13rem;
  text-decoration: none;
  text-transform: capitalize;
  transition: var(--page-transition);
}

.sidebar .nav-links a:hover {
  color: var(--text-color-hover);
}

.small-nav {
  max-width: 55rem;
  margin: 0 auto;
  height: 100%;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.title {
  font-size: 1.6rem;
  color: rgb(197, 193, 193);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  text-transform: capitalize;
}

.small-nav button {
  padding: 0.4rem 1rem;
  font-size: 1.3rem;
  background: none;
  border: 1px solid var(--nav-btn-color);
  color: var(--nav-btn-color);
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: var(--page-transition);
}

.small-nav button:hover {
  background: black;
}

.big-nav {
  display: none;
}

/* 992px  for nav*/
@media screen and (min-width: 992px) {
  .small-nav {
    display: none !important;
  }

  .show-sidebar,
  .sidebar {
    display: none !important;
  }

  .big-nav {
    display: flex;
    height: 100%;
    max-width: 70rem;
    margin: 0 auto;
    /* border: 1px solid blue; */
    align-items: center;
    padding: 0 2rem;
    /* justify-content: space-evenly; */
  }

  .nav-link-container {
    margin-left: 7rem;
  }

  .nav-link-container a {
    color: var(--text-color-2);
    margin-right: 2rem;
    font-size: 1.13rem;
    text-decoration: none;
    text-transform: capitalize;
    transition: var(--page-transition);
  }

  .nav-link-container a:hover {
    color: var(--text-color-hover);
  }

  .cart-amount {
    margin-left: auto;
    position: relative;
    /* border: 1px solid red; */
  }

  .cart-amount button a,
  .cart-amount button {
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--text-color-2);
    border: none;
    background: none;
  }

  .cart-amount p {
    position: absolute;
    top: -40%;
    left: 75%;
    font-size: 1.34rem;
    color: rgb(253, 249, 249);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
}

/* home page banner */

.banner {
  margin: 2rem 1rem;
  /* padding: 0 2rem; */
}

.banner div {
  margin-bottom: 1.5rem;
}

.overlay {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(56, 56, 56, 0.493);
  color: white;
}

.first-container {
  background: url("./img/carousel-1.jpg");
  height: 28rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.first-container .overlay h1 {
  text-transform: capitalize;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.2rem;
}

.first-container .overlay p {
  margin: 1.5rem 3rem;
  text-align: center;
  max-width: 28rem;
  font-size: 1.01rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.first-container .overlay button {
  background: none;
  padding: 10px 20px;
  border: 1px solid white;
  color: white;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 1.05rem;
  transition: var(--page-transition);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.first-container .overlay button:hover {
  background: white;
  color: black;
}

.second-container,
.third-container {
  height: 12rem;
  transition: all 0.5s ease;
}

.second-container:hover,
.third-container:hover {
  /* correct this */
  background-size: 33rem;
  background-repeat: no-repeat;
  background-position: center;
}

.second-container .overlay p:nth-child(1),
.third-container .overlay p:nth-child(1) {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.second-container .overlay p:nth-child(2),
.third-container .overlay p:nth-child(2) {
  margin: 0.5rem 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: capitalize;
}

.second-container .overlay button,
.third-container .overlay button {
  background: gold;
  border: none;
  font-size: 1.05rem;
  padding: 10px;
  text-transform: capitalize;
  cursor: pointer;
  transition: var(--page-transition);
}

.second-container .overlay button a,
.third-container .overlay button a {
  text-decoration: none;
  color: rgb(29, 29, 29);
}

.second-container .overlay button:hover,
.third-container .overlay button:hover {
  background: rgb(201, 171, 6);
}

.second-container {
  background: url("./img/offer-1.jpg");
  background-size: cover;
}
.third-container {
  background: url("./img/offer-2.jpg");
  background-size: cover;
}

@media screen and (min-width: 992px) {
  .banner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "first first second"
      "first first third";
    grid-column-gap: 30px;
    margin: 2rem 5rem;
  }

  .first-container {
    grid-area: first;
    height: auto;
  }
  .second-container {
    grid-area: second;
  }
  .third-container {
    grid-area: third;
  }
}

/* end */

/* product section */

.display-products {
  margin: 1rem;
}

.display-products .filter-btn-container {
  text-align: center;
}

.display-products .filter-btn-container button {
  margin-right: 0.6rem;
  margin-bottom: 0.5rem;
  background: none;
  border: 1px solid var(--nav-btn-color);
  padding: 0.3rem 0.5rem;
  text-transform: capitalize;
  transition: var(--page-transition);
  cursor: pointer;
}

.display-products .filter-btn-container button:hover {
  background: var(--nav-background);
  color: white;
  border-color: var(--nav-background);
}

.product-item-container {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 6rem;
  max-width: 70rem;
  /* border: 1px solid red; */
  margin: 0 auto;
}

.product-item {
  margin: 3rem 0;
  width: 15rem;
  /* border: 1px solid red; */
}

.product-img-container {
  height: 10rem;
  width: 10rem;
  border: 1px solid var(--nav-background);
  box-shadow: 1px 1px 3px black;
}

.product-img-container img {
  width: 100%;
  height: 100%;
  display: block;
}

.product-desc {
  /* border: 1px solid red; */
  margin-top: 1rem;
  max-width: 20rem;
}

.product-desc .name-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-desc .name-container p {
  text-transform: capitalize;
  font-family: "--apple-system", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.product-desc .name-container p:nth-child(1) {
  font-size: 1.2rem;
  font-weight: 500;
}

.product-desc .name-container p:nth-child(2) {
  font-size: 0.9rem;
  font-style: italic;
}

.product-desc .amount-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.product-desc .amount-container .amount-no {
  display: flex;
  /* border: 1px solid blue; */
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  width: 5rem;
  margin: 0.5rem 0;
}

.product-desc .amount-container .amount-no p {
  font-size: 1.3rem;
}

.product-desc .amount-container .amount-no button {
  font-size: 1.2rem;
  background: none;
  border: none;
  cursor: pointer;
}

.product-desc .amount-container .add-to-cart {
  background: none;
  border: 1px solid var(--nav-btn-color);
  padding: 0.3rem 0.5rem;
  text-transform: capitalize;
  transition: var(--page-transition);
  cursor: pointer;
}

.product-desc .amount-container .add-to-cart:hover {
  background: var(--nav-background);
  color: white;
  border-color: var(--nav-background);
}
/* end */

/* before footer */
.before-footer {
  padding: 1rem;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap: 1.5rem;
  /* border: 1px solid red; */
  max-width: 78rem;
  margin: 0 auto;
}

.before-footer .second-container,
.before-footer .third-container {
  flex: 1 1 20rem;
  height: 19rem;
  width: auto;
  background-position: center;
  transition: var(--page-transition);
}

.before-footer .second-container:hover,
.before-footer .third-container:hover {
  background-size: auto;
}

/* end */

/* footer */

.footer {
  background: var(--nav-background);
  padding: 6rem 1rem 2rem 1rem;
  color: var(--text-color-2);
  margin-top: 5rem;
}

/* .container-div {
  border: 1px solid red;
} */

.container-div .first-div,
.container-div .second-div,
.container-div .third-div,
.container-div .forth-div {
  /* border: 1px solid blue; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 3rem;
}

.container-div .first-div h1,
.container-div .second-div h1,
.container-div .third-div h1,
.container-div .forth-div h1 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.3rem;
}

.container-div .first-div p,
.forth-div p {
  font-weight: 400;
  font-size: 0.99rem;
}

.container-div .first-div .desc {
  margin: 1.2rem 0;
}

.container-div .first-div div {
  padding-left: 1.5rem;
}

.container-div .first-div div p {
  margin-bottom: 0.5rem;
}

.footer-nav {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.footer-nav a {
  color: var(--text-color-2);
  text-decoration: none;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.forth-div p {
  margin: 1.2rem 0 0.7rem 0;
}

/* .subscribe {
  border: 1px solid red;
} */

.subscribe .subscribe-form {
  width: 100%;
  /* border: 1px solid pink; */
  display: flex;
  /* justify-content: center; */
  align-items: stretch;
  margin: 0 0 1rem 0;
}

.subscribe .subscribe-form input {
  text-transform: capitalize;
  padding: 0.7rem;
  font-size: 1rem;
  width: 80%;
  height: 100%;
}

.subscribe .subscribe-form button {
  cursor: pointer;
  /* padding: 0.63rem 0; */
  text-transform: capitalize;
  width: 20%;
  background: gold;
  transition: var(--page-transition);
  color: rgb(59, 59, 59);
  border: none;
  font-size: 1.05rem;
  border-left: none;
}

.subscribe .subscribe-form button:hover,
.subscribe .follow .social button:hover {
  background: rgb(201, 171, 6);
}

/* .subscribe .follow {
  border: 1px solid red;
} */

.subscribe .follow h1 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.subscribe .follow .social button {
  font-size: 2rem;
  background: gold;
  border: 1px solid gold;
  margin-right: 0.5rem;
  padding: 0.2rem 0.2rem 0 0.2rem;
  transition: var(--page-transition);
}

.subscribe .follow .social button a {
  color: rgb(59, 59, 59);
}

.line {
  height: 1px;
  background-color: var(--nav-btn-color);
  margin-bottom: 1.5rem;
}

.bottom-section {
  /* border: 1px solid red; */
  text-align: center;
}

.bottom-section p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  margin-bottom: 1rem;
}

.bottom-section p a {
  color: gold;
  text-decoration: none;
  transition: var(--page-transition);
}

.bottom-section p a:hover {
  color: rgb(201, 171, 6);
}

@media screen and (min-width: 800px) {
  .container-div {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(4, 1fr);
    row-gap: 3rem;
    grid-template-areas: "first first first first" "second third forth forth";
    padding: 0 2rem;
  }

  .container-div .first-div {
    grid-area: first;
    margin-bottom: 0;
  }
  .container-div .second-div {
    grid-area: second;
  }
  .container-div .third-div {
    grid-area: third;
  }
  .container-div .forth-div {
    grid-area: forth;
  }

  .bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 992px) {
  .footer {
    padding: 6rem 2rem 2rem 2rem;
  }

  .container-div {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "first first second third forth forth";
    column-gap: 1rem;
  }
}
/*  end */

/* contact section */

.contact-container {
  /* border: 1px solid red; */
  padding: 4rem 1rem;
}

.line-container {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
}

.line-container h1 {
  color: var(--nav-background);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  width: 14rem;
}

.line-container .contact-line {
  border: 1px dashed rgba(128, 128, 128, 0.212);
  height: 2px;
  width: 100%;
}

/* .contact-us {
  border: 1px solid blue;
} */

.contact-us .contact-from-container {
  padding: 2rem;
  background: white;
}

.contact-us .contact-from-container form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-us .contact-from-container form input,
.contact-us .contact-from-container form textarea {
  margin-bottom: 1rem;
  padding: 0.7rem 0.5rem;
  text-transform: capitalize;
  border: 1px solid rgba(220, 220, 221, 0.911);
  font-size: 0.95rem;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.contact-us .contact-from-container form textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 12rem;
}

.contact-us .contact-from-container form button {
  font-size: 0.9rem;
  background: gold;
  border: 1px solid gold;
  text-transform: capitalize;
  padding: 0.7rem 1.3rem;
  transition: var(--page-transition);
  font-weight: 400;
  cursor: pointer;
}

.contact-us .contact-from-container form button:hover {
  background: rgb(243, 207, 2);
}

.contact-us .contact-address-container {
  margin-top: 3rem;
}

.contact-address-container .address-img-container {
  padding: 2rem;
  background: white;
  width: 100%;
  margin-bottom: 2rem;
  height: 20rem;
}

.contact-address-container .address-img-container img {
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(193, 193, 218, 0.178);
}

.contact-address-container .address-container {
  padding: 2rem;
  background: white;
}

.contact-address-container .address-container p {
  color: var(--nav-btn-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.01rem;
  margin-bottom: 0.4rem;
}

@media screen and (min-width: 992px) {
  .contact-us {
    display: flex;
    column-gap: 2rem;
  }

  .contact-us .contact-from-container {
    flex: 1 1 60%;
    max-width: 60%;
  }
  .contact-us .contact-address-container {
    margin-top: 0;
    flex: 1 1 40%;
  }
}

@media screen and (min-width: 1200px) {
  .contact-container {
    padding: 4rem;
  }
}
/* end */

/* cart section */
.cartItems-container {
  margin: 3rem 1rem;
}

.product-item-container {
  margin: 2rem auto;
  text-transform: capitalize;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
}

.control-btns {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  margin: 0 auto;
}

.control-btns button {
  padding: 0.5rem 0;
  text-transform: capitalize;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: pointer;
  border: 1px solid;
}

.control-btns .clear-cart {
  background-color: rgb(134, 68, 68);
  border-color: rgb(134, 68, 68);
  color: white;
  transition: var(--page-transition);
}

.control-btns .clear-cart:hover {
  background-color: rgb(97, 50, 50);
}

.control-btns .buy-cart {
  background: gold;
  border: 1px solid gold;
  margin-top: 0.5rem;
  transition: var(--page-transition);
}

.control-btns .buy-cart:hover {
  background: rgb(212, 181, 4);
}

/* end */

/* alert */
.hide-alert {
  display: none;
  position: fixed;
  z-index: 10;
  width: 100%;
}
.alert-container {
  /* margin: 0 auto; */
  display: block;

  text-align: center;
  margin-bottom: 1rem;
}
.alert-container p {
  font-size: 0.9rem;
  padding: 0.3rem 0;
  text-transform: capitalize;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* end */
